.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas: 
    
        "header header header"
        "main . sidebar"
        "footer footer footer"
    ;
}

.header {
    background-color: purple;
    grid-area: header;
  
}

.main {
    background-color: greenyellow;
    grid-area: main;
}

.empty {
    background-color: grey;
    grid-area: empty;
}

.sidebar {
    background-color: blue;
    grid-area: sidebar;
}

.footer{
    background-color: orange;
    grid-area: footer;
}
